// .btn-a {
//   background: #777;
//   border: 1px solid #ccc;
//   font-size: 1em;
//   text-transform: uppercase;
// }
// 
// .btn-b {
//   @extend .btn-a;
//   background: #ff0;
// }
// 
// .sidebar .btn-a {
//   text-transform: lowercase;
// }

%btn {
  background: #777;
  border: 1px solid #ccc;
  font-size: 1em;
  text-transform: uppercase;
}
.btn-a {
  @extend %btn;
}
.btn-b {
  @extend %btn;
  background: #ff0;
}
.sidebar .btn-a {
  text-transform: lowercase;
}