$base: #777777;
$border: rgba(0, 255, 0, 0.5);
$shadow: #333;

$header: 'Helvetica Neue';
$callout: Arial;
$message: "Loading...";

$authors: nick, dan, aimee, drew;
$margin: 4px 0 20px 100px;

$shadow: null;
$title: 'My Blog';
// $title: 'About Me';
$title: 'About Me' !default;

$rounded: 5px;

/* Types */
// $rounded: false;
// $shadow: true;

// $rounded: 4px;
// $line-height: 1.5;
// $font-size: 3rem;




@import "buttons";

.sidebar {
  border: 1px solid $base;
  p {
    color: $base;
  }
}

h2:before {
  content: $title;
}