@import "buttons";
@mixin button {
  border: 1px solid #ccc;
  font-size: 1em;
  text-transform: uppercase;
}

@mixin box-sizing($x: border-box) {
  -webkit-box-sizing: $x;
  -moz-box-sizing: $x;
  box-sizing: $x;
}

.btn-a {
  background: #777;
  @include button;
}

.btn-b {
  background: #ff0;
  @include button;
}


.content {
  @include box-sizing;
  border: 1px solid #ccc;
  padding: 20px;
}

.callout {
  @include box-sizing(content-box);
}