.content {
  border: 1px solid #ccc;
  padding: 20px;
  h2 {
    font-size: 3em;
    margin: 20px 0;
  }
}

.callout {
  @extend .content;
  background: #ddd;
}

%ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}

.logo {
  @extend %ir;
}
.social {
  @extend %ir;
}
