// @mixin respond-to($val, $query) {
//   @media ($val: $query) {
//     @content
//   }
// }

// .sidebar {
//   border: 1px solid #ccc;
//   @include respond-to(max-width, 600px) {
//     float: right;
//     width: 30%;
//   }
// }


// This doesn't work correctly
// .sidebar {
//   border: 1px solid #ccc;
// }
// 
// .callout {
//   @media (min-width: 700px) {
//     @extend .sidebar;
//     width: 35%;
//   }
// }

// @media (min-width: 700px) {
//   .content {
//     border: 1px solid #ccc;
//   }
//   .aside {
//     @extend .content;
//     width: 35%;
//   }
// }


.sidebar {
  @media (min-width: 700px) {
    width: 50%;
  }
}

.callout {
  @media (min-width: 700px) {
    width: 35%; 
  }
}