$color-base: #333333;
$color: #87bf64;

h2 {
  font-size: 10px + 4pt;
  
  // This doesn't work correctly
  // font-size: 10px + 4em;
  line-height: ceil(1.2);
}

.sidebar {
  width: percentage(350px/1000px); 
}

.addition {
  background: $color-base + #112233;
}

.subtraction {
  background: $color-base - #112233;
}

.muliplication {
  background: $color-base * 2;
}

.division {
  background: $color-base / 2;
}

.alpha {
  background: rgba($color, 0.8);
}

.beta {
  background: rgba(#000, 0.8);
}

.lighten {
  background: lighten($color, 20%);
}

.darken {
  background: darken($color, 20%);
}

.saturate {
  background: saturate($color, 20%);
}

.desaturate {
  background: desaturate($color, 20%);
}

.mix-a {
  color: mix(#ffff00, #107fc9);
}

.mix-b {
  color: mix(#ffff00, #107cf9, 30%);
}

.grayscale {
  color: grayscale($color);
}

.invert {
  color: invert($color);
}

.complement {
  color: complement($color);
}