@function fluidize($target, $context) {
  @return ($target / $context) * 100%;
}

.sidebar {
  width: fluidize(350px, 1000px);
}

$theme: pink;

header {
  @if $theme == dark {
    background: #000;
  } @else if $theme == pink{
    background: pink;
  } @else {
    background: #fff;
  }
}

$authors: nick aimee dan drew;
@each $author in $authors {
  .author-#{$author} {
    background: url(author-#{$author}.jpg);
  }
}

.item {
  position: absolute;
  right: 0;
  @for $i from 1 through 3 {
    &.item-#{$i} {
      top: $i * 30px;
    }
  }
}

$i: 2;

.item {
  position: absolute;
  right: 0;
  @while $i <= 6 {
    &.item-#{$i} {
      top: $i * 30px;
    }
    $i: $i + 2;
  }
}